a {
    color: pink;
}
a:hover {
    background-color: pink;
}
h1 {
    background-color:rgb(0, 81, 255);
 }
p {
    color:red;
 }
 #outfielders {
     color: orange;
 }
#category1 {
    color: orange;
}